
// DataTables
@import "~datatables.net-bs/css/dataTables.bootstrap.min.css";
@import "~datatables.net-responsive-bs/css/responsive.bootstrap.min.css";

// Select2
@import "~select2/src/scss/core.scss";

.hidden-el{
    display: none;
}

body > #wrapper{
    background-color: rgb(228, 229, 230);
}

.card{
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
}