/********************************************
 * AUTHOR		: Victor Julian Lipesik 
 * WEBSITE		: http://www.tobsite.com/
 * TEMPLATE NAME: Juara Web - Administrator 1.0
 * VERSION		: 1.0
 *******************************************/

/* HTML elements */
* { margin: 0px; padding: 0px;}

body {background-color: #fff; font: 12px Arial, Helvetica, sans-serif; color: #000;}

a {color: #1A5F86; text-decoration: underline;}
a:hover {font-weight: bold;}

p.clearPan {clear: both;}

/* Container Pan */
div#uploadPathPan {font-size: 14px;}
div#mainPan {}
div#directoryPan {float: left; width: 180px; background-color: #8ACFF6; padding: 10px 5px; min-height: 250px;}
div#rightPan {float: right; width: 705px;}
div#picturePan {border: #8ACFF6 1px solid; text-align: center; font-size: 9px;}
div#actionPan {margin: 20px 0px 0px 0px;}

/* Inner Pan */
h2.t {border-bottom: #000 1px solid; color: #1A5F86;}

div#messagePan {color: #f00;}

div#actionPan input.submit {width: 70px;}

div#directoryPan p {margin: 5px 0px; clear: both;}
div#directoryPan a {color: #fff;}
div#directoryPan a img {float: left; height: 15px; margin-top: 0px;}
div#directoryPan a.d {margin-right: 5px;}

ul.fileList {list-style: none;}
ul.fileList li {width: 161px; margin: 10px 5px; float: left; padding: 2px;}
ul.fileList li.thumbnail {background-color: #eee;}
ul.fileList li:hover {background-color: #8ACFF6;}
ul.fileList li p.i {width: 157px; height: 157px; text-align: center;}
ul.fileList li p.i img {max-width: 153px; max-height: 153px; border: #8ACFF6 1px solid; padding: 2px;}
ul.fileList li p.l {text-align: center;}
ul.fileList li p.l span {cursor: pointer;}
ul.fileList li p.l img {height: 15px; margin: 4px 8px;}

div#actionPan p.actionTitlePan {font-weight: bold;}

div#utilityPan h3 {margin: 10px 0px 5px 0px;}
div#utilityPan p.info {float: right; margin-top:-42px;}

/* Help */
div#helpLinkPan {float: left; margin: 5px 0px 0px 0px;}

span.openInStRuCtIoN {width: 16px; height: 16px; background: url(images/icon-help.gif) no-repeat; display: block; float: right; margin:-2px 5px 0px 5px; cursor: pointer;}
div.InStRuCtIoN {display: none; position: absolute; z-index: 1; background: #fff; font-weight: normal; padding: 5px; border: #000 1px dashed; width: 750px; text-align: justify;}

/* JQuery Addition */
label.error {float: none; color: #FE0000; padding-left: 5px;}