/********************************************
 * AUTHOR		: Victor Julian Lipesik 
 * WEBSITE		: http://www.tobsite.com/
 * TEMPLATE NAME: Juara Web - Administrator 1.0
 * VERSION		: 1.0
 *******************************************/
 
div#leftPan {float: left; width: 195px; margin: 0px 10px 60px 0px; padding: 5px; border: #999 2px solid; background-color: #eee;}
div#contentPan {float: left; width: 720px; margin: 0px 0px 60px 0px; padding: 5px; border: #999 2px solid; background-color: #eee;}

/* Left Pan */
div#leftPan ul {list-style-type: none;}
div#leftPan p.info {margin: 5px 0px 3px 0px;}
div#leftPan select#memberList {width: 195px; height: 500px;}

iframe#pollingResult {width: 700px; height: 500px; overflow: auto;}

/* Help */
div#helpPan {padding: 15px 30px 10px 30px; color: #1A5F86; font-style: italic; display: none;}
div#helpLinkPan {
	margin: 0px 2px 0px 5px;
}
div#helpLinkPan div {
	background-color: #1A5F86; color: #fff; text-align: center; float: right;
	width: 70px; padding: 3px; margin-left: 5px; cursor: pointer;
}
div#helpLinkPan div.fullHelp {display: none;}