div.instruction {position: absolute; top: 0px; bottom: 15px; left: 15px; right: 15px; background-color: rgba(0,0,0,0.8); color: #fff; visibility: hidden; opacity: 0; transition: all 1s; overflow: hidden;}
div.instruction.show {visibility: visible; opacity: 1; transition: all 1s;}
div.instruction .wp {width: 100%; height: 100%; display: table;}
div.instruction .wc {display: table-cell; vertical-align: middle;}
.panel-body .fa-info-circle {cursor: pointer;}
.wrapper {border: #ddd 1px solid; text-align: center; padding: 4px 8px; margin-bottom: 15px; width: 100%; height: 0; padding-bottom: 40%;}
.wrapper h4 > a:hover {text-decoration: none; opacity: 0.7;}
.wrapper h4 > a > i {display: block; font-size: 30px; margin-bottom: 15px;}