@import url("../sb-admin/sb-admin.css");
@import url("../fonts/font-awesome/stylesheet.min.css");

/* Hacks */
#codeigniter_profiler {position: relative; z-index: 9998;}
div.mce-fullscreen {z-index: 9999;}
.mce-panel {border-radius: 3px; -webkit-border-radius: 3px;}
@media screen {
	.no-screen {display: none;}
}
@media print {
	.no-print {display: none;}
}

/* Web Styles */
body {font-size: 12px;}
body[data-page="administrator/login"] {margin-top: 0;}
h1,.h1 {font-size: 28px;} h2,.h2 {font-size: 20px;} h3,.h3 {font-size: 16px;} h4,.h4 {font-size: 14px;}
p {margin-bottom: 5px;}
p.spacer {clear: both; height: 0px;}
.col {-webkit-border-radius: 4px; border-radius: 4px; margin-bottom: 20px;}
.box {padding: 8px 15px; background-color: #F5F5F5;} .box-bordered {border: #ddd 1px solid;}
.InStRuCtIoN, #InStRuCtIoN {cursor: pointer;}
#copyRight {border-top: #ddd 1px solid; margin-top: 40px; padding-top: 15px; text-align: center; font-size: 11px; text-align: center;}
#copyRight ul {list-style: none;}
#copyRight ul li {display: inline-block; margin-left: 15px;}
.hide{display: none;}
.price{text-align: right;}

/* Bootstrap Fix */
nav li {text-transform: capitalize;}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {max-height: calc(100vh - 50px);}
.navbar *, ul.dropdown-menu > li > a {font-size: 12px;}
.navbar-inverse .navbar-nav > .open > a.dropdown-toggle {color: #EEA236;}
.navbar-inverse .navbar-nav > .active > a {color: #357EBD;}
.navbar i.fa {margin-right: 3px; font-size: 16px; display: inline-block; width: 20px; text-align: center;}
.navbar-inverse .navbar-brand {font-size: 28px; color: #fff; text-shadow: 0 0 2px #444;}
.navbar-inverse .navbar-toggle {color: #fff; border-color: #777; background-color: #222; padding: 6px 7px; margin: 10px 15px 10px 0;}
.side-nav .dropdown-menu.always-open {display: block; width: 100%; position: relative; background-color: transparent; padding: 0; margin: 0; border: none;}
.side-nav .dropdown-menu.always-open > li > a {display: inline-block; width: 100%; color: #9d9d9d; background-color: #111; padding: 10px 5px 10px 20px;}
.side-nav .dropdown-menu.always-open > li > a:hover {color: #fff; background-color: #111;}
.popover {min-width: 300px;}
.popover-content {font-size: 11px;}
.table-responsive {border: none;}
.tablesorter thead tr th: first-of-type:after, .tablesorter thead tr th: last-of-type:after {content:'';}
.btn-toolbar {display: inline-block; vertical-align: middle; font-size: 11px;}
.btn-sm {/*padding: 8px 10px;*/ height: 30px;}
a.btn-sm {padding-top: 8px;}
.input-group-btn > .btn-sm {padding-top: 6px;}
/*.form-group > .btn-sm {padding: 5px 10px; height: auto;}*/
.radio-group label {margin-right: 10px;}
label > input[type=checkbox], label > input[type=radio] {float: left; margin-top: 1px;}
input[type=radio] {margin-right: 5px;}

/* Forms */
div.imgList {overflow: hidden; -webkit-border-radius: 4px; border-radius: 4px; border: #ccc 1px solid; background-color: #eee; padding: 15px 15px 30px 15px; margin-bottom: 15px;}
div.imgList span.img {
	display: inline-block; text-align: center; width: 150px; height: 150px; overflow: hidden; margin: 0px 15px 15px 0px; 
	border: #ccc 1px solid; border-radius: 3px; -webkit-border-radius: 3px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); word-wrap: break-word;
}
div.imgList span.img img {max-width: 100%; max-height: 100%; margin-top:-19px;}
.btnFileRemove {display: block; float: right; position: relative; right: 5px; top: 5px; z-index: 100; cursor: pointer; font-size: 11px; padding: 4px 6px;}
.btnFileAdd {display: table-cell !important;}
.taFileList {display: none;}
div.imgListDesc {margin-top:-45px; margin-bottom: 50px;}
.tableView img {max-width: 150px; max-height: 150px; margin: 0px 15px 15px 0px; display: inline-block;}
.multipleSelect {min-height: 200px;}
.chosen-choices {border-radius: 3px; -webkit-border-radius: 3px; border-color: #ccc !important;}

/* Browse */
table {font-size: inherit;}
table.table {counter-reset: section;}
table.table thead th {background-color: #eee;}
table.table .cb {width: 20px; text-align: center;}
table.table .action {width: 80px; padding: 5px; text-align: right;}
table.table .action a {margin-left: 7px;}
table.table .counter {width: 35px;}
table.table tbody .counter:before {content: counter(section) "."; counter-increment: section;}
table.jwTableDescriptionList .action {width: 40px;}
table.jwTableDescriptionList instruction {display: none;}
#btnCheckAll {padding: 3px 10px;}
#frmTable tbody img {max-width: 200px; max-height: 200px;}
#frmTable label {margin-top: 10px;}
#frmTable label:after {content: ""; display: block; position: absolute; width: calc(100% - 30px); bottom: -5px; border-bottom: #eee 1px solid;}

.tableView table.table thead th {background-color: transparent;}
.tableView .form-group:not(:last-child) {border-bottom: #eee 1px solid; padding-bottom: 8px;}
.tableView .wrapper {min-height: 17px;}

/* Content */
#shortcutManager li {list-style: none; margin-bottom: 15px; border-radius: 4px;}
#shortcutManager .action, #shortcutManager .status {text-align: right;}
#adminPrivilege .cb {width: 40px; text-align: center;}
#adminPrivilege th {text-align: center;}
#adminPrivilege td: not(: first-of-type) {text-align: center;}
#adminPrivilege td: nth-of-type(4n + 2) {border-left-width: 3px !important;}

/* Login */
[data-page="administrator/login"] {background-color: #f5f5f5;}
[data-page="administrator/login"] .navbar {display: none;}
#loginBox h1 {text-align: center; font-weight: bold; margin-bottom: 30px; text-shadow: 1px 1px 3px #ccc;}
#loginBox h1 img {max-width: 100%; max-height: 150px; margin: 0 auto;}
#loginBox p {margin: 0px 0 15px;}
#loginBox .box-bordered {border: #ddd 1px solid; box-shadow: 0 0 5px #ddd; background-color: #fff; padding-top: 30px;}
#loginBox .copy {text-align: center; margin-top: 30px; font-size: 11px;}

@media (max-width: 768px) {
	.navbar-collapse {background-color: #222;}
	.navbar-nav {margin: 0 -15px;}
	.navbar-inverse .navbar-toggle i.fa {display: none;}
}

@media (min-width: 768px) {
	.navbar-inverse .navbar-toggle span {display: none !important;}
    .control-label .InStRuCtIoN {float: right; margin-top: 3px;}
    .side-nav, .side-nav > li, .side-nav > li > a, .side-nav > li.dropdown > ul.dropdown-menu, .side-nav > li.dropdown > ul.dropdown-menu > li, .side-nav > li.dropdown > ul.dropdown-menu > li > a {width: 200px;}
	.side-nav {left: 200px; margin-left:-200px; padding-bottom: 70px;}
	.side-nav > li > a {padding: 10px 5px;}
	.side-nav > li.dropdown > ul.dropdown-menu {border-left: #357EBD 3px solid;}
	.side-nav > li.dropdown > ul.dropdown-menu > li > a {padding: 10px 5px 10px 10px;}
    #wrapper {padding-left: 200px;}
    #wrapper.sidebar-hidden {padding-left: 0;}
    #wrapper.sidebar-hidden .side-nav {display: none;}
	.navbar-inverse .navbar-toggle {display: block; float: left; margin: 10px 0 10px 15px;}
	body[data-page*="login"] .navbar-toggle {display: none;}
	#copyRight p {text-align: left;}
	#copyRight ul {text-align: right;}
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}