#selectedItems th, #selectedItems td {vertical-align: middle;}
.btn-print-group {margin-right:-10px; margin-top:-6px;}
@media print {
  body {margin-top:0px;}
  article .col-xs-12:first-child { height:0px; }
  body * { visibility: hidden; }
  #section-to-print, #section-to-print * { visibility: visible; }
  #section-to-print { position: absolute; left: 0; top: 0; right:0; }
  #section-to-print .hidden {display: block !important; }
  #section-to-print .hidden small {margin-bottom:10px; display:block;}
  #wrapper { padding-left:0px; }
  h3 {margin:0px;margin-bottom:10px;}
}