#leftPan {float: left; width: 17%;}
#contentPan {float: right; width: 80%;}

/* Left Pan */
#leftPan ul {list-style: none; margin-top: 10px;}
#orderList li {padding-top: 5px; border-bottom: #aaa 1px dashed; margin-left:-40px;}
#orderList li: last-of-type {border-bottom: none;}
#orderList li a {text-decoration: none;}
#orderList li.vacant a {color: #f00;}
#orderList li.neglected a {color: #000;}
#orderList li.processed a {color: #0f0;}
 
/* Invoice Header */
#invoiceHeader {width: 100%; margin-bottom:-1px; font-size: 13px;}
#invoiceHeader th {text-align: left; padding: 5px 10px;}
#invoiceHeader td {text-align: left; padding: 5px 10px; width: 100px;}

/* Invoice Item List */
#invoiceItemList {margin: 30px 0px;}
#invoiceItemList .titleList {font-size: 14px;}
#invoiceItemList .q {width: 50px; text-align: center;}
#invoiceItemList .p, #invoiceItemList .st {width: 150px; text-align: right;}
#invoiceItemList .q input {width: 50px;}
#invoiceItemList .success {font-weight: bold;}
#invoiceItemList .success .t {text-align: right;}

/* Next Action Pan */
div.next {text-align: center; margin: 10px 0px 10px 0px;}
div.next form {display: inline;}
div.next p {margin: 10px 5px;}

#invoiceData {width: 100%; border: none;}
#invoiceData input {width: 600px;}
#invoiceData th {text-align: left; width: 150px;}
#invoiceData td {text-align: left;}