* {font-family: Arial, sans-serif; overflow-wrap: break-word;}
body {font-size:14px; color:#444;}
h1 {font-size:26px;} h2 {font-size:22px;} h3 {font-size:18px;} h4 {font-size:14px;} 
h1 img {max-width: 400px; max-height: 400px; margin: 0 auto;}
a {color:#C89F18; text-decoration:none;}
a:hover {text-shadow:0px 0px 2px #aaa; filter: dropshadow(color=#aaa, offx=0, offy=0);}
.spacer {height:0; clear:both;}
.container {margin:0 auto; max-width: 600px; border: #ccc 1px solid; padding: 15px;}

header {padding:15px 0px;}
header img {height:150px;}
header h1 {margin:0 15px; text-align: center;}
header h4 {color:#aaa; margin:-10px 0px 20px 0px;}
time {color:#aaa; font-size:11px; margin:0 15px; text-align: center; display: block;}
blockquote {margin:0; padding:20px 0px; color: #777;}
table {width:100%; text-align:left;}
th {padding:5px;} td {padding:3px 5px;}
thead th {border:1px solid; border-color:#ccc transparent;}
tbody tr:last-of-type td {border-bottom:#ccc 1px solid;}
tbody td b {font-weight: normal;}
footer {border-top:#ccc 1px solid; margin-top:30px !important; text-align:center; color:#aaa; font-size:11px;}

@media (max-width: 768px) { /* Smartphone only */
	.container {width:100%;}
}

@media (min-width: 768px) { /* Tablet and more */
	.container {width:75%;}
}

@media (min-width: 992px) { /* Desktop and more */
	.container {width:50%;}
}