@import '../fonts/barcode/stylesheet.css'; 

#barcodePrint {}

div.container {width:9.4cm; margin:auto;}
div.pageBreak {height:0cm; page-break-after:always;}
@media print {
	div.container {zoom:100% !important; -moz-transform:scale(1.0); -webkit-transform:scale(1.0); margin:-0cm 0.1cm 0.1cm 0.1cm;}
}

ul {margin:-0.3cm 0cm 0cm -1cm; width:100%;}
li.barcodeTag {width:3cm; height:2cm; overflow:hidden; margin-right:0.1cm; list-style:none; float:left;}
li.barcodeTag:nth-of-type(3n) {margin-right:0cm;}
td {overflow:auto; text-align:center; vertical-align:middle; padding:0px; margin:0px; font:9px "Lucida Console"; color:#000; text-transform:uppercase;}

td.productName, td.barcodeNumber {height:0.5cm; text-align:center; text-transform:uppercase; overflow:hidden;}
td.barcodeID {font-family:'free3of9Regular'; font-size:34px; font-weight:normal; width:3cm; height:1cm; overflow:hidden;}