* {text-transform: uppercase; font-family: arial;}
div.container {width:21.5cm; margin:auto;}
div.pageBreak {height:0cm; page-break-after:always;}
@media print {
	div.container {zoom:100% !important; -moz-transform:scale(1.0); -webkit-transform:scale(1.0); margin:0cm 0.2cm;}
}

div.priceTag {width:9cm; height:2.8cm; overflow:hidden; margin:0.2cm; border: 1px solid; padding: 0.2cm; float:left; position: relative;}
div.priceTag table {width: 100%;}
td.productName {font-size:20px;}
td.barcodeNumber {font-size:14px;}
td.price {font-size:36px; text-align: right;}
td.storeName {font-size:12px; text-align: right;}