@import '../fonts/barcode/stylesheet.css'; 

body#barcodePrint {}

div.container {width:5cm; margin:auto;}
div.pageBreak {height:0cm; page-break-after:always;}
@media print {
	div.container {zoom:100% !important; -moz-transform:scale(1.0); -webkit-transform:scale(1.0); margin:0cm 0.2cm;}
}

div.barcodeTag {width:4.6cm; height:1.9cm; overflow:hidden; margin:0.2cm 0cm 0.4cm 0cm;}
td {overflow:auto; text-align:center; vertical-align:middle; padding:0px; margin:0px; font:10px "Lucida Console"; color:#000; text-transform:uppercase;}

td.productName, td.storeName {text-align:center; display:block; height:0.4cm;}
td.barcodeID {font-family:'free3of9Regular'; font-size:42px; font-weight:normal; width:4cm; height:1.1cm; overflow:hidden;}

td.barcodeNumber {width:0.3cm; letter-spacing:1px;}
td.barcodeNumber span {position:absolute; margin:0cm 0cm 0cm -0.9cm; width:1.9cm; height:0.3cm; font-size:9px; -moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg);}

td.price {width:0.3cm;}
td.price span {position:absolute; margin:-0.15cm 0cm 0cm -0.95cm; width:1.9cm; height:0.3cm; font-size:9px; -moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg);}