@import '../jwadminv1/invoice.css';
@import '../jquery.ui.autocomplete.css';

table#invoiceHeader td {width:100px;}
table#invoiceItemList tr.addNew td {background-color:#4A8FB6;}
table#invoiceItemList tr th, table#invoiceItemList tr td {padding:0px 5px;}
table#invoiceItemList tr.subTotalHeader th, table#invoiceItemList tr.subTotalHeader td {padding:0px 5px;}
table#invoiceItemList tr.titleList th {padding:0px 5px; font-size:12px;}
table#invoiceItemList tr td.quantity2 {width:110px;}

input.button {padding:2px 5px; border:#777 1px solid; background-color:#777;}
input.button:hover {background-color:#444;}

input.text {width:300px;}
textarea {width:400px; height:100px;}
input.number, input.digits, input.currency {text-align:right; width:75px;}
input.qty {width:45px;}
input.qty2 {width:25px;}

