/********************************************
 * AUTHOR		: Victor Julian Lipesik 
 * WEBSITE		: http://www.tobsite.com/
 * TEMPLATE NAME: Juara Web - Administrator 1.0
 * VERSION		: 1.0
 *******************************************/

body {font:11px Arial, Helvetica, sans-serif; color:#000;}

h1.title {text-align:center; text-transform:uppercase; font-size:18px; margin-top:0px;}
p.title {text-align:center; padding:0.075cm 0cm; margin:0cm;}

div.container {width:4.2cm; margin:auto;}
div.pageBreak {height:0cm; page-break-after:always;}
@media print {
	div.container {zoom:100% !important; -moz-transform:scale(1.0); -webkit-transform:scale(1.0); margin:0.3cm 0cm;}
}

/* Invoice Item List */
table#invoiceItemList {width:100%; margin-top:0.5cm;}
table#invoiceItemList tr.titleList th {text-transform:uppercase; font-size:14px; padding:3px 5px;}
table#invoiceItemList tr.titleList th.subTotal {text-align:right;}

table#invoiceItemList tr td {text-align:center; padding:0.1cm 0.05cm;}
table#invoiceItemList tr td.quantity {text-align: left;}
table#invoiceItemList tr td.quantity2 {}
table#invoiceItemList tr td.price {text-align:right;}
table#invoiceItemList tr td.discount {}
table#invoiceItemList tr td.subTotal {text-align:right;}
table#invoiceItemList tr td.title {text-transform:uppercase; text-align: left; font-weight: bold;}

table#invoiceItemList tr.subTotalHeader td {font-weight:bold;}
table#invoiceItemList tr.subTotalHeader td.title {font-size:12px; text-align:right; padding-right:0.1cm;}
table#invoiceItemList tr.subTotalHeader td.subTotal {}