/********************************************
 * AUTHOR		: Victor Julian Lipesik 
 * WEBSITE		: http://www.tobsite.com/
 * TEMPLATE NAME: Juara Web - Administrator 1.0
 * VERSION		: 1.0
 *******************************************/
 
body {font:12px Arial, Helvetica, sans-serif; color:#000;}
table th, table td {vertical-align:top;}

div.container {width:19.9cm; height:13.2cm; margin:auto; clear:both;}
div.pageBreak {height:0cm; page-break-after:always;}
@media print {
	div.container {zoom:100% !important; -moz-transform:scale(1.0); -webkit-transform:scale(1.0); margin:0.25cm;}
}

/* Invoice Header */
.companyTitle * {text-align:right;}
#invoiceHeader {width:100%; margin:0.5cm 0cm 0cm 0cm;}
#invoiceHeader tr td {padding:0cm; margin:0cm; vertical-align:top;}
#invoiceHeader tr td table tr th {text-align:left; padding:0.05cm 0.1cm;}
#invoiceHeader tr td table tr td {text-align:left; padding:0.05cm 0.1cm;}
#invoiceHeader td table {width:98%; margin-left:2%;}
#invoiceHeader td table .t {width:2cm;}
#invoiceHeader td.l {width:50%;}
#invoiceHeader td.l table {margin-left:0%;}
#invoiceHeader td.l table .t2 {width:1.8cm;}
#invoiceHeader h1 {font-size:16px; line-height:0.8em; text-transform:uppercase;}
#invoiceHeader h2 {font-size:14px; line-height:0.8em;}

/* Invoice Item List */
.border-top > th, .border-top > td {border-top:#000 1px solid;}
.border-bottom > th, .border-bottom > td {border-bottom:#000 1px solid;}
.border-right > th, .border-right > td {border-right:#000 1px solid;}
.border-left > th, .border-left > td {border-right:#000 1px solid;}
#invoiceItemList {width:100%; margin-top:0.25cm;}
#invoiceItemList .titleList th, #invoiceItemList .titleList td {padding:0.15cm 0.1cm;}
#invoiceItemList .titleList th {text-transform:uppercase; font-size:12px;}
#invoiceItemList .titleList th.subTotal {text-align:right;}
#invoiceItemList .titleList td {text-align:left; font-size:11px;}

#invoiceItemList td {text-align:left; padding:0.1cm 0.1cm; font-size:11px;}
#invoiceItemList .number {text-align:left; width:0.75cm;}
#invoiceItemList .code {text-align:center; width:1.4cm;}
#invoiceItemList .title {text-align:left;}
#invoiceItemList .title2 {text-align:left; padding-left: 0.3cm;}
#invoiceItemList .quantity {text-align:left; width:3.4cm;}
#invoiceItemList .quantity2 {}
#invoiceItemList .price {text-align:right; width:3cm;}
#invoiceItemList .discount {text-align:center; width:2.4cm;}
#invoiceItemList .subTotal {text-align:right; width:3cm;}

#invoiceItemList .subTotalHeader td {text-align:left; padding:0.1cm 0.1cm;}
#invoiceItemList .subTotalHeader td.title {text-align:right; width:2.4cm;}
#invoiceItemList .subTotalHeader td.subTotal {text-align:right; width:2cm;}
#invoiceItemList .subTotalHeader table {width:100%; padding-top:0.5cm;}

.note {max-height:1.25cm;}
.signHeader th {text-align:center; width:33%;}
.signHeader2 th {text-align:center;}
.signBody td {height:1.7cm;}
.signFooter td {text-align:center;}
.signFooter td.a:before {content:"(";}
.signFooter td.a:after {content:")";}
.signFooter span {width:90%; display:inline-block; text-align: center;}
.next-page {text-align:center; text-transform:uppercase; border-top:#000 1px solid; padding:0.2cm 0cm;}