/* Some Fixations */
@import '../jquery-ui/jquery.ui.autocomplete.css';

table#selectedItems {width:100%;}
table#selectedItems tr th {text-align:center; background-color:#1A5F86; padding:2px; color:#fff;}
table#selectedItems tr td {border:#8ACFF6 1px solid; background-color:#fff; padding:2px; text-align:center;}
table#selectedItems tr td.title {width:300px;}
table#selectedItems tr td.price {text-align:right;}

table#listDataItems tr.trSubHeader th {width:auto; text-align:center; text-transform:uppercase;}
/*table#listDataItems tr th {width:175px;}*/
table#listDataItems tr:hover td table#selectedItems tr td {border:#8ACFF6 1px solid;}
table#listDataItems tr.addNew td {background-color:#4A8FB6;}
table#listDataItems input.qty {width:45px;}
table#listDataItems input.p {width:100px;}
table#listDataItems input.number {text-align:right;}
table#listDataItems tr.trAction input {padding:2px 5px; border:#777 1px solid; background-color:#777; color:#fff; margin:4px 0px 4px 4px;}
table#listDataItems tr.trAction input:hover {background-color:#444;}

#selNewItem {float:left;}
#txtBarcodeID {width:50px; margin-right:5px; color:#aaa; font-style:italic; font-size:11px; float:left;}

abbr.list {float:right; margin-right:5px; cursor:pointer;}