/********************************************
 * AUTHOR		: Victor Julian Lipesik 
 * WEBSITE		: http://www.tobsite.com/
 * TEMPLATE NAME: Juara Web - Administrator 1.0
 * VERSION		: 1.0
 *******************************************/

body {width:21.6cm; font:12px Arial, Helvetica, sans-serif; color:#000; padding:0.2cm;}

h1.title {text-align:center; text-transform:uppercase; font-size:22px;}
h3.title {text-align:center; font-size:14px;}

/* Invoice Item List */
table.report {width:100%; border-left:#000 1px solid; border-bottom:#000 1px solid;}
table.report tr.tbHeader th {border:#000 1px solid; border-left:none; border-bottom:none; text-transform:uppercase; font-size:12px; padding:3px 5px;}

table.report tr td {text-align:center; padding:2px; border:#000 1px solid; border-left:none; border-bottom:none; padding:2px 5px; font-size:11px;}
table.report td.title {border-top:none; border-right:none;}
table.report td.p {border-bottom:none;}
table.report td.st {text-align:right;}
table.report td.first, table.report tr.tbHeader th.first {border-left:#000 1px solid; text-align:left;}