div#filterPan {float:right; margin-top:-20px;}
div#filterPan table {width:100%;}
div#filterPan table input.jwDateTime {width:70px;}
div#filterPan table th {text-align:right; padding:2px 5px; width:70px;}
div#filterPan table td {padding:2px 5px; width:120px;}

p#sortModePan {margin:5px 0px; font-style:italic; color:#f00;}

table#listData {margin:20px 0px;}
table#listData td {background-color:#fff; border-left:#1A5F86 1px solid; border-bottom:#1A5F86 1px solid;}
table#listData tr td:last-of-type {border-right:#1A5F86 1px solid;}
table#listData td.title {padding:5px 5px; border:none; text-transform:uppercase; font-size:14px;}
table#listData td.title:first-of-type {border:none;}
table#listData td.title:hover {background-color:#fff;}
table#listData td.p {text-align:right;}